[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pygit2 = '==0.27.2'
bblfsh = "==2.12.6"
cachetools = "*"
lookout-sdk = "*"

[dev-packages]
pylint = "*"
pytest = "*"
rope = "*"

[requires]
python_version = "3.7"
