[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pygit2 = '==0.27.0'
bblfsh = "*"
cachetools = "*"
zss = {git = "https://github.com/timtadh/zhang-shasha.git"}
numpy = "*"

[dev-packages]
pylint = "*"
pytest = "*"

[requires]
python_version = "3.7"
