bblfsh==2.12.1
cachetools==2.1.0
certifi==2018.8.24
cffi==1.11.5
chardet==3.0.4
docker-pycreds==0.3.0
docker==3.5.0
git+https://github.com/timtadh/zhang-shasha.git#egg=zss
grpcio-tools==1.13.0
grpcio==1.13.0
idna==2.7
numpy==1.15.2
protobuf==3.6.1
pycparser==2.19
pygit2==0.27.2
requests==2.19.1
six==1.11.0
urllib3==1.23
websocket-client==0.53.0
