bblfsh==2.12.6
cachetools==3.0.0
certifi==2018.10.15
cffi==1.11.5
chardet==3.0.4
docker-pycreds==0.3.0
docker==3.5.1
grpcio-tools==1.13.0
grpcio==1.13.0
idna==2.7
lookout-sdk==0.1.2
protobuf==3.18.3
pycparser==2.19
pygit2==0.27.2
requests==2.20.1
six==1.11.0
urllib3==1.24.1
websocket-client==0.54.0
